doctype html
html
  head
    meta(charset='utf-8')
    title kodamir
    link(rel='stylesheet', type='text/css', href='styles/app.css')
  body
    p Hello, kodamir!

    script(src='scripts/app.js')

